/*---------------   Colours      ---------------*/
$blue20: hsl(211, 98%, 20%);
$blue50: hsl(211, 98%, 50%);
$blue80: hsl(211, 98%, 80%);
$blue95: hsl(211, 98%, 95%);

$grey80: hsl(200, 3%, 20%);
$grey80: hsl(200, 3%, 50%);
$grey80: hsl(200, 3%, 80%);
$grey95: hsl(200, 3%, 95%);

/*---------------   Dimensions  ---------------*/
$pg-padding-lr: 2rem;
$navh: 5rem;
$footerh: 5rem;
