.btn {
  padding: 0.3em 0.9em;
  margin: 0.2em;
  border-radius: 5px;
  border: 2px solid;

  &-primary {
    border-color: $blue80;
    background-color: $blue95;
    color: $blue20;
  }

  &-primary:hover {
    background-color: $blue80;
  }

  &-secondary {
    border-color: $grey80;
    background-color: $grey95;
    color: $grey20;
  }

  &-secondary:hover {
    background-color: $grey80;
  }
}
