/*---------------   Colours      ---------------*/
/*---------------   Dimensions  ---------------*/
.btn {
  padding: 0.3em 0.9em;
  margin: 0.2em 0;
  border-radius: 5px;
  border: 2px solid;
}
.btn-primary {
  border-color: #9acafe;
  background-color: #e6f2ff;
  color: #013165;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #9acafe;
}
.btn-secondary {
  border-color: #cacdce;
  background-color: #f2f2f3;
  color: #313435;
}
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #cacdce;
}

.form {
  max-width: 500px;
  margin: auto;
}
.form-group {
  margin: 0.5rem 0;
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
}
.form-btn {
  text-align: center;
}

#root {
  box-sizing: border-box;
  min-height: 100vh;
  min-width: 100vw;
}

#main {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2rem;
  min-height: calc(100vh - 5rem - 5rem - 4rem);
}

input {
  max-width: 96%;
}

.header {
  display: flex;
  flex-wrap: wrap;
  min-height: 5rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #e6f2ff;
}
.header-left {
  margin-right: 1rem;
  flex-shrink: 0;
}
.header-center {
  flex-grow: 100;
}
.header-right {
  margin-left: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header-logo {
  width: 15rem;
  max-width: 60vw;
  max-height: 5rem;
}

.headerbasket-fig {
  max-height: 5rem;
  margin: 0;
}
.headerbasket-fig img {
  box-sizing: border-box;
  padding: 0.5rem;
  width: 4rem;
  max-width: 40vw;
  max-height: 5rem;
}

.login-container {
  padding-top: 1rem;
}
.login-container p {
  color: #313435;
}

@media only screen and (max-width: 450px) {
  .header * {
    margin: auto;
  }
}
.footer {
  display: flex;
  min-height: 5rem;
  position: sticky;
  top: calc(100vh - 5rem);
  background-color: #013165;
  padding: 0.5rem 2rem;
  align-items: center;
  justify-content: center;
}
.footer-container {
  text-align: center;
}
.footer p {
  margin: 0;
}
.footer-company {
  color: #e6f2ff;
  font-size: 1.1rem;
  font-weight: 900;
}
.footer-tagline {
  color: #9acafe;
  margin-top: 0.2rem !important;
  font-size: 0.9rem;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.prodcard {
  max-width: 20rem;
  text-align: center;
  margin: 1rem 0.5rem;
  border-radius: 15px;
  box-shadow: 1px 1px 2px #cacdce;
}
.prodcard:hover,
.prodcard:focus-within {
  box-shadow: 1px 1px 3px #313435;
}
.prodcard-name {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}
.prodcard-img {
  max-width: 90vw;
  max-height: 20rem;
}
.prodcard-price {
  font-size: 1.5rem;
  font-weight: 500;
  color: #313435;
  margin-top: 0.3rem;
}
.prodcard-price::before {
  content: "kr ";
}
.prodcard-more {
  color: #313435;
  text-decoration: none;
}
.prodcard-add {
  margin-bottom: 1.5rem;
}

.login {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.login div {
  width: 100%;
}
.login label {
  display: block;
  margin: auto;
  font-weight: 500;
  padding-bottom: 0.4rem;
}
.login-form {
  display: block;
  width: 100%;
}
.login-password {
  margin: 2rem auto 1.3rem auto;
}
.login-btn-sec {
  margin: 0 0.2rem;
}

.addProduct h3 {
  max-width: 500px;
  margin: 1rem auto 2rem;
}

.basket-pay-btn {
  display: flex;
  justify-content: right;
}

.basketcard {
  text-align: center;
  background-color: #f2f2f3;
  border-radius: 20px;
}
.basketcard-name {
  font-size: 1.3rem;
  margin: 0;
  display: inline-block;
}
.basketcard-img {
  max-height: 10rem;
  max-width: 95%;
  margin: 0 0 1rem 0;
}
.basketcard-price::before {
  content: "kr ";
}
.basketcard-price {
  font-size: 1.5rem;
  font-weight: 500;
  color: #313435;
  margin-top: 0;
}
.basketcard-r {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem auto;
  padding: 0.5rem 2rem;
}

@media only screen and (max-width: 450px) {
  .basketcard-r:first-of-type {
    flex-wrap: wrap-reverse;
  }
  .basketcard-c {
    margin: auto;
  }
}
.productpage-title {
  display: inline-block;
}

.push {
  display: inline-block;
  height: 0;
  width: 25rem;
  max-width: 80vw;
}

.productpage {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: -4.5rem;
}
.productpage-img {
  width: 25rem;
  max-width: 80vw;
}
.productpage-img img {
  width: 25rem;
  max-width: 80vw;
}
.productpage-details {
  box-sizing: border-box;
  width: calc(90vw - 25rem);
  min-width: 25rem;
}
.productpage-details p {
  display: block;
}
.productpage-buy {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.productpage-price {
  font-size: 1.5rem;
  color: #013165;
  font-weight: 600;
}
.productpage-price::before {
  content: "kr ";
}

@media only screen and (max-width: 870px) {
  .push {
    width: 0;
  }

  .productpage {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 0;
  }
  .productpage * {
    margin: auto;
  }
  .productpage-img {
    width: 25rem;
    max-width: 80vw;
  }
  .productpage-details {
    min-width: 0;
    width: 100%;
    max-width: 90vw;
  }
} /*# sourceMappingURL=main.css.map */
