#root {
  box-sizing: border-box;
  min-height: 100vh;
  min-width: 100%;
}

#main {
  box-sizing: border-box;
  max-width: $main-max-width;
  margin: 0 auto;
  padding: 1rem $pg-padding-lr;
  min-height: calc(100vh - #{$headerh} - #{$footerh} - 4rem);
}

input {
  max-width: 96%;
}
