.home {
  @include grid;
  grid-template-columns: 15rem 1fr;
  grid-template-rows: auto;
  grid-template-areas: "filter prods";
  align-items: start;

  &-filter {
    grid-area: filter;
  }
}

.products {
  grid-area: prods;
  @include flexbox;
  flex-wrap: wrap;
  justify-content: space-around;
}

.prodcard {
  min-width: 10rem;
  width: 20rem;
  text-align: center;
  margin: 1rem 0.5rem;
  border-radius: 15px;
  box-shadow: 1px 1px 2px $grey80;

  &:hover,
  &:focus-within {
    box-shadow: 1px 1px 3px $grey20;
  }

  &-name {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }

  &-img {
    max-width: 90%;
    max-height: 20rem;
  }

  &-price {
    font-size: 1.5rem;
    font-weight: 500;
    color: $grey20;
    margin-top: 0.3rem;
  }
  &-desc {
    width: 70%;
    margin: 1rem auto 0;
  }
  &-more {
    color: $grey20;
    text-decoration: none;
  }
  &-add {
    margin-bottom: 1.5rem;
  }
}

@media only screen and (max-width: #{$mq-sm}) {
  .home {
    grid-template-columns: 1fr;
    grid-template-areas: "filter" "prods";
  }
}

#noProducts {
  display: none;
  grid-area: prods;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  color: $blue20;
}
