.login {
  height: 100%;
  @include flexbox;
  align-items: center;
  justify-content: center;
  text-align: center;

  & div {
    width: 100%;
    margin-bottom: 1rem;
  }

  & label {
    display: block;
    margin: auto;
    font-weight: 500;
    padding-bottom: 0.4rem;
  }

  &-form {
    display: block;
    width: 100%;
  }

  &-extrabtns {
    margin-top: 0.5rem;
  }

  &-btn-sec {
    margin: 0 0.2rem;
  }
}
