$prod-img-w: 25rem;

.productpage {
  @include grid;
  grid-template-columns: $prod-img-w 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "img title"
    "img info"
    "img buy";

  &-title {
    grid-area: title;
  }

  &-img {
    grid-area: img;

    & img {
      width: $prod-img-w;
      max-width: 80vw;
      margin-bottom: 15px;
    }
  }

  &-details {
    grid-area: info;
  }

  &-buy {
    grid-area: buy;
    @include flexbox;
    column-gap: 2rem;
    align-items: center;
    flex-wrap: wrap;
  }

  &-price {
    font-size: 1.5rem;
    color: $blue20;
    font-weight: 600;
  }
}

.productSpecs {
  width: 100%;
  border: 1px solid $grey95;
  border-collapse: collapse;
  td {
    padding: 0.5rem;
    border: 1px solid $grey95;
  }
  &-row {
    @include grid;
    grid-template-columns: $prod-img-w 1fr;
    grid-template-rows: auto;
    grid-template-areas: "spec val";
    text-transform: capitalize;
  }

  &-name {
    grid-area: spec;
    font-weight: 600;
    color: $grey20;
  }

  &-value {
    grid-area: val;
  }
}

@media only screen and (max-width: #{$mq-md}) {
  .productpage {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "title"
      "img"
      "info"
      "buy";
    justify-items: center;

    &-details {
      text-align: center;
    }

    &-buy {
      justify-content: center;
    }
  }

  @media only screen and (max-width: #{$mq-md}) {
    .productpage {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
        "title"
        "img"
        "info"
        "buy";
      justify-items: center;

      &-details {
        text-align: center;
      }

      &-buy {
        justify-content: center;
      }
    }

    .productSpecs {
      &-row {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

@media only screen and (max-width: #{$mq-xs}) {
  .productSpecs {
    tr {
      margin: 1rem;
      text-align: center;
    }

    &-row {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
        "spec"
        "val";
    }
  }
}
