$prod-img-w: 25rem;

.productpage {
  @include grid;
  grid-template-columns: $prod-img-w 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "img title"
    "img info"
    "img buy";

  &-title {
    grid-area: title;
  }

  &-img {
    grid-area: img;

    & img {
      width: $prod-img-w;
      max-width: 80vw;
    }
  }

  &-details {
    grid-area: info;
  }

  &-buy {
    grid-area: buy;
    @include flexbox;
    column-gap: 2rem;
    align-items: center;
    flex-wrap: wrap;
  }

  &-price {
    font-size: 1.5rem;
    color: $blue20;
    font-weight: 600;

    &::before {
      content: "kr ";
    }
  }
}

@media only screen and (max-width: #{$mq-md}) {
  .productpage {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "title"
      "img"
      "info"
      "buy";
    justify-items: center;

    &-details {
      text-align: center;
    }

    &-buy {
      justify-content: center;
    }
  }
}
