.user {
  &-info {
    text-align: center;
    &-img {
      width: 200px;
      height: 200px;
      max-width: 70vw;
      max-height: 70vw;
      border-radius: 100%;
      object-fit: cover;
      object-position: center;
    }

    &-table {
      display: block;

      &-body {
        display: inline-block;
        margin: 0 auto;
        &-tr {
          @include grid;
          grid-template-columns: 1fr 1fr;
          grid-template-areas: "lbl info";
        }
      }
      & td {
        box-sizing: border-box;
        padding: 0 0.5rem;
        line-height: 1.7rem;

        &:nth-of-type(1) {
          width: 7rem;
          color: $grey50;
          font-weight: 500;
          text-align: right;
          grid-area: lbl;
        }
        &:nth-of-type(2) {
          grid-area: info;
          text-align: left;
        }
      }
    }
  }
}

@media only screen and (max-width: #{$mq-xs}) {
  .user {
    &-info {
      &-table {
        transform: translateX(0);
        text-align: center;

        &-body {
          display: block;
          & tr {
            @include grid;
            align-content: center;
            grid-template-columns: 1fr;
            grid-template-areas: "lbl" "info";
          }
        }

        & td {
          box-sizing: border-box;
          padding: 0 1rem;
          line-height: 1.7rem;

          &:nth-of-type(1) {
            width: auto;
            text-align: center;
          }
          &:nth-of-type(2) {
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}

.ordercard {
  background: rgba($grey95, 0.3);
  padding: 0.2rem 1rem;
  margin-bottom: 1rem;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 2px rgba($blue20, 0.2);

  & h3 {
    color: $blue20;
  }

  &-info {
    @include grid;
    grid-template-columns: 3fr 1fr;

    & p {
      margin: 0;

      &:first-of-type {
        margin-bottom: 0.4rem;
        font-weight: 500;
      }
      &:last-of-type {
        margin-bottom: 1rem;
      }
    }
  }

  & table,
  & thead,
  & tbody {
    width: 100%;
  }

  & table {
    margin: 0.6rem 0;
  }

  &-row {
    @include grid;
    width: 100%;
    grid-template-columns: 4fr 1fr 1fr;
    text-align: center;
  }

  &-btm {
    @include grid;
    grid-template-columns: 1fr 3fr;
    align-items: baseline;
    font-weight: 500;
    color: $grey20;
    &-date {
      font-weight: 400;
      color: lighten($grey20, 15%);
    }
    &-price {
      margin: 2rem 1rem 1rem;
      text-align: right;
    }
    &-value {
      color: $blue20;
      font-size: 1.3rem;
      line-height: 2rem;
      font-weight: 700;
    }
  }
}

@media only screen and (max-width: #{$mq-sm}) {
  .ordercard {
    &-info {
      @include grid;
      grid-template-columns: 1fr;

      & p {
        margin: 0;

        &:first-of-type {
          margin-bottom: 0.4rem;
          font-weight: 500;
        }
        &:last-of-type {
          margin-bottom: 1rem;
        }
      }
    }

    &-row {
      @include grid;
      grid-template-columns: 2fr 1fr 1fr;
    }

    &-btm {
      @include grid;
      grid-template-columns: 1fr;
      align-items: baseline;
      text-align: left;
      &-price {
        margin: 1rem 0;
        text-align: inherit;
      }
    }
  }
}
