/*---------------   Colours      ---------------*/
$blue20: hsl(211, 98%, 20%);
$blue50: hsl(211, 98%, 50%);
$blue80: hsl(211, 98%, 80%);
$blue95: hsl(211, 98%, 95%);

$grey20: hsl(200, 3%, 20%);
$grey50: hsl(200, 3%, 50%);
$grey80: hsl(200, 3%, 80%);
$grey95: hsl(200, 3%, 95%);

/*---------------   Dimensions  ---------------*/
$mq-xs: 450px;
$mq-sm: 660px;
$mq-md: 870px;
$mq-lg: 1080px;
$mq-xl: 1220px;

$pg-padding-lr: 2rem;
$headerh: 5rem;
$footerh: 5rem;
$main-max-width: 1200px;
$form-width: 500px;
