#root {
  box-sizing: border-box;
  min-height: 100vh;
  min-width: 100vw;
}

#main {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem $pg-padding-lr;
  min-height: calc(100vh - #{$headerh} - #{$footerh} - 2rem);
}
