.header {
  @include flexbox;
  height: $headerh;
  justify-content: space-between;
  align-items: center;
  padding: 1rem $pg-padding-lr;
  background-color: $blue95;

  &-left {
    margin-right: 1rem;
    flex-shrink: 0;
  }

  &-center {
    flex-grow: 100;
  }
  &-right {
    margin-left: 1rem;
    white-space: nowrap;
    flex-shrink: 0;
    display: flex !important;
    align-items: center;
  }

  & div {
    display: inline-block;
  }

  &-logo {
    height: $headerh;
    width: auto;
  }
}

.headerbasket-fig {
  height: $headerh;
  margin: 0;

  & img {
    box-sizing: border-box;
    padding: 0.5rem;
    height: $headerh;
  }
}

.login-container {
  padding-top: 1rem;

  & p {
    color: $grey20;
  }
}
