.btn {
  /*Resetting button/link*/
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  /*---------------------*/
  padding: 0.3em 0.9em;
  margin: 0.2em 0;
  border-radius: 5px;
  border: 2px solid;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;

  & a {
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
    padding: 0;
    margin: 0;
  }

  &-primary {
    border-color: $blue80;
    background-color: $blue95;
    color: $blue20;
  }

  &-primary:hover,
  &-primary:focus-visible {
    background-color: $blue80;
  }

  &-secondary {
    border-color: $grey80;
    background-color: $grey95;
    color: $grey20;
  }

  &-secondary:hover,
  &-secondary:focus-visible {
    background-color: $grey80;
  }
}
