.btn {
  padding: 0.3em 0.9em;
  margin: 0.2em 0;
  border-radius: 5px;
  border: 2px solid;
  cursor: pointer;

  &-primary {
    border-color: $blue80;
    background-color: $blue95;
    color: $blue20;
  }

  &-primary:hover,
  &-primary:focus {
    background-color: $blue80;
  }

  &-secondary {
    border-color: $grey80;
    background-color: $grey95;
    color: $grey20;
  }

  &-secondary:hover,
  &-secondary:focus {
    background-color: $grey80;
  }
}
