.btn {
  padding: 0.3em 0.9em;
  margin: 0.2em 0;
  border-radius: 5px;
  border: 2px solid;
  cursor: pointer;

  & a {
    text-decoration: none;
    color: inherit;
  }

  &-primary {
    border-color: $blue80;
    background-color: $blue95;
    color: $blue20;
  }

  &-primary:hover,
  &-primary:focus-visible {
    background-color: $blue80;
  }

  &-secondary {
    border-color: $blue95;
    background-color: white;
    color: $blue50;
  }

  &-secondary:hover,
  &-secondary:focus-visible {
    background-color: $blue95;
  }

  &-grey {
    border-color: $grey80;
    background-color: $grey95;
    color: $grey20;
  }

  &-grey:hover,
  &-grey:focus-visible {
    background-color: $grey80;
  }

  &-disabled {
    pointer-events: none !important;
    border-color: $grey95 !important;
    background-color: $grey95 !important;
    color: $grey50 !important;
  }
}
