.form {
  max-width: $form-width;
  margin: auto;
  &-group {
    margin: 0.5rem 0;
    @include grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
  }

  &-btn {
    text-align: center;
  }
}
