.free {
  text-decoration: line-through;
  color: $grey80;
}

/*h2 title with small letters underneath*/
.title {
  line-height: 1.3rem;
  &-mini {
    font-size: 1rem;
  }
}

.disabled {
  pointer-events: none !important;
}
